<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <fa-icon icon="ellipsis-v" class="icon-main"></fa-icon>
      <img src="../../../assets/images/img_main.png" alt="">
      <h1>
        la alcancía que siempre <br> te acompaña
      </h1>
      <div class="slide">
        <p>Desliza para aprender más</p>
      </div>
    </ion-slide>

    <ion-slide>
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide>
      <h2>Slide 3</h2>
    </ion-slide>

    <ion-slide>
      <h2>Slide 4</h2>
    </ion-slide>

    <ion-slide>
      <h2>Slide 5</h2>
    </ion-slide>

    <ion-slide>
      <h2>Slide 6</h2>
    </ion-slide>

    <ion-slide>
      <h2>Slide 7</h2>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="11" offset=".5">
        <ion-button expand="full" shape="round" mode="ios" class="btn btn-register" (click)="phoneRegister()">
          Regístrate
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" offset=".5">
        <ion-button expand="full" shape="round" mode="ios" class="btn btn-entry">
          Ingresa
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>